<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar *ngIf="image">
        <img [src]="image" class="perfil-img">
      </ion-avatar>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Input para subir imágenes -->
  <ion-item>
    <ion-label>Subir imagen de un gato</ion-label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
  </ion-item>

  <!-- Mostrar la predicción -->
  <ion-card *ngIf="prediction">
    <ion-card-header>
      <ion-card-title>Predicción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tipo de gato: {{ prediction }}
    </ion-card-content>
  </ion-card>

  <!-- Contenido existente -->
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>